In [3]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('previous_data.csv')

In [5]:
df.head()

,Team,Opposition,Span,Mat,Won,Lost,Draw,Tied,Tie+W,Tie+L,NR,W/L,%W,%L,%D,%
0,Afghanistan,v Australia,2012-2023,4,0,4,0,0,0,0,0,0,0.00,100.00,0,-
1,Afghanistan,v Bangladesh,2014-2023,16,6,10,0,0,0,0,0,0.6,37.50,62.50,0,37.5
2,Afghanistan,v Canada,2010-2011,5,4,1,0,0,0,0,0,4,80.00,20.00,0,80
3,Afghanistan,v England,2015-2023,3,1,2,0,0,0,0,0,0.5,33.33,66.66,0,33.33
4,Afghanistan,v Hong Kong,2014-2018,2,1,1,0,0,0,0,0,1,50.00,50.00,0,50

In [6]:
#from all row in opponent column remove the first 3 character
df['Opposition'] = df['Opposition'].str[2:]

In [34]:
df.head()

,Team,Opposition,Span,Mat,Won,Lost,Draw,Tied,Tie+W,Tie+L,NR,W/L,%W,%L,%D,%
0,Afghanistan,Australia,2012-2023,4,0,4,0,0,0,0,0,0,0.00,100.00,0,-
1,Afghanistan,Bangladesh,2014-2023,16,6,10,0,0,0,0,0,0.6,37.50,62.50,0,37.5
2,Afghanistan,Canada,2010-2011,5,4,1,0,0,0,0,0,4,80.00,20.00,0,80
3,Afghanistan,England,2015-2023,3,1,2,0,0,0,0,0,0.5,33.33,66.66,0,33.33
4,Afghanistan,Hong Kong,2014-2018,2,1,1,0,0,0,0,0,1,50.00,50.00,0,50

In [7]:
Teams = ['Afghanistan', 'Australia', 'Bangladesh', 'England', 'India', 'New Zealand', 'Pakistan', 'South Africa', 'Sri Lanka', 'Ireland']

#remove row if does not contain any of the teams

df = df[df['Team'].isin(Teams) & df['Opposition'].isin(Teams)]

In [8]:
#keep only Team and Opposition and % column

df = df[['Team', 'Opposition','Mat','Won','Lost', '%']]

In [48]:
#export this data to csv file

df.to_csv('previous_data_per.csv', index=False)